<!DOCTYPE html>
<html>
<head>
    <!-- CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />
    
    <!-- JS -->
    <script src="https://code.angularjs.org/1.4.0-rc.1/angular.js"></script>
    <script src="app.js"></script>
</head>
<body ng-app="validationApp" ng-controller="mainController">
<div class="container">
    
    <!-- PAGE HEADER -->
    <div class="page-header"><h1>Key Words</h1></div>
   
    <!-- =================================================================== -->
    <!-- FORM ============================================================== -->
    <!-- =================================================================== -->
    
    <!-- pass in the variable if our form is valid or invalid -->
    <form name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate>

        <!-- Keyword -->
        <div class="form-group" ng-class="{ 'has-error' : userForm.Keyword.$invalid && !userForm.Keyword.$pristine }">
            <label>Keyword</label>
            <input type="text" name="Keyword" class="form-control" ng-model="user.Keyword" ng-minlength="1" ng-maxlength="25">
            <p ng-show="userForm.Keyword.$error.minlength" class="help-block">Keyword is too short.</p>
            <p ng-show="userForm.Keyword.$error.maxlength" class="help-block">Keyword is too long.</p>
        </div>
        
        <!-- RelativeWord1 -->
        <div class="form-group" ng-class="{ 'has-error' : userForm.Description.$invalid && !userForm.Description.$pristine }">
            <label>Description</label>
            <input type="text" name="Description" class="form-control" ng-model="user.Description" ng-minlength="1" ng-maxlength="25">
            <p ng-show="userForm.Description.$error.minlength" class="help-block">Description is too short.</p>
            <p ng-show="userForm.Description.$error.maxlength" class="help-block">Description is too long.</p>
        </div>

        
        
    </form>
    

    
</div>
</body>
</html>
